/* Global styles for the entire page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Styles for unordered lists in the navigation bar */
ul {
    text-align: right;
    list-style: circle;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Styles for individual navigation items */
.navbar-item {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.navbar-item:hover {
    background-color: #ff6600;
}

#mbu {
    margin-left: 10px;
    text-transform: capitalize;
}

.welcome {
    background-color: #fff;
    padding: 3rem 1rem;
    text-align: center;
}

#welcome {
    font-size: 3rem;
    color: #ff6600;
    margin-bottom: 2rem;
    text-transform: capitalize
}
