/* Global styles for the entire page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Styles for unordered lists in the navigation bar */
ul {
    text-align: right;
    list-style: circle;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Styles for individual navigation items */
.navbar-item {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

/* Hover effect on navigation items */
.navbar-item:hover {
    background-color: #ff6600;
}

#mbu {
    margin-left: 10px;
    text-transform: capitalize;
}

/* Styling for the welcome section */
.welcome {
    background-color: #fff;
    padding: 3rem 1rem;
    text-align: center;
}

#welcome {
    font-size: 3rem;
    color: #ff6600;
    margin-bottom: 2rem;
    text-transform: capitalize
}

#ije {
    color: #ff6600;
    font-weight: bolder;
    text-transform: uppercase;
}

#permit {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Styling for a grid layout with columns */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin: 40px 0;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ff6600;
    margin-bottom: 15px;
}

/* Styling for images within columns */
.column img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
}

/* Styling for the 'read more' section */
.column .readmore {
    margin-top: 10px;
}

.column .readmore summary {
    cursor: pointer;
    outline: none;
    color: #ff6600;
}

.column .readmore summary::after {
    content: '+';
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
}

.column .readmore[open] summary::after {
    content: '-';
}

/* Styling for links in the 'state' class */
.column .state a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.column .state a:hover {
    background-color: #e65c00;
}

/* Styles for the header section */
header {
    background-color: #333;
    color: #fff;
    padding: 0%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 0rem 0rem;
    background-color: #ff6600;
    color: #fff;
    clip-path: polygon(0% 0%, 420% 40%, 10% 100%, 0% 90%);
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

/* Hover effect on links in the navigation bar */
nav a:hover {
    background-color: #ff6600;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 0;
}

header li {
    margin-right: 1rem;
    position: relative;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease;
}

header a:hover {
    border-bottom: 2px solid #fff;
}

header a:active {
    border-bottom: 2px solid #fff;
}

#ike {
    text-align: center;
    font-size: 50px;
}

#articles {
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 0.5rem 0;
    display: inline;
}

#embark {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Styles for the 'testimonials' section */
.testimonials {
    display: grid;
    height: 100%;
    place-items: center;
    background: lightblue;
}

.wrapper {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    background: #fff;
    border-radius: 3px;
    padding: 25px;
    width: calc(33% - 10px);
}

.name {
    font-size: 17px;
    font-weight: 600;
}

.job {
    color: #ff6600;
    font-size: 16px;
    font-weight: 500;
}

.tour {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    margin-top: 2px;
    color: #ff6600;
}

.image {
    height: 75px;
    width: 75px;
    padding: 3px;
    background: lightblue;
    border-radius: 50%;
}

.photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.best {
    text-align: justify;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

footer span {
    margin-right: 1rem;
}

footer a {
    color: #ff6600;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* screen responsiveness */
@media (max-width:768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 1rem;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.5rem 0;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .column img {
        margin-bottom: 20px;
    }

    section .content {
        grid-template-columns: 1fr;
    }

    #articles {
        flex-direction: column;
    }

    header.logo {
        font-size: 1.2rem;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .welcome {
        margin: 1rem 0;
    }

    article {
        padding: 1rem;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}

.our {
    background-color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.our h1 {
    font-size: 2.5rem;
    color: #ff6600;
    margin-bottom: 1.5rem;
}

.our p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.our strong {
    color: #ff6600;
    font-size: 1.1rem;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin: 40px 0;
}

.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service figure {
    margin-bottom: 20px;
}

.service img,
.service video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service figcaption {
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
    margin-top: 10px;
}

.service p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

#additional-info {
    margin-left: 50px;
    resize: vertical;
    border: 1px solid #ccc;
    padding: 8px;
}

.contact {
    background-color: #f1f1f1;
    padding: 40px;
    text-align: center;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    margin: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px;
}

select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    background-color: #f9f9f9;
}

input[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e65c00;
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
    }
}

.feel {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.feel h1 {
    font-size: 32px;
    text-align: center;
    color: #ff6600;
}

.feel p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.award>div {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.award h5 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff6600;
}

.award p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#azuka {
    text-align: center;
    font-weight: bold;
}

.contact-table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
}

.contact-table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff6600;
}

.contact-table th,
.contact-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.contact-table th {
    background-color: #f7f7f7;
    color: #333;
}

.tell form {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.feedback {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff6600;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: #ff6600;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 40px auto;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.item img,
.item video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item:hover .overlay {
    opacity: 1;
}

.item p {
    font-size: 14px;
    text-align: center;
}

.about {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about h1 {
    font-size: 24px;

    text-align: center;
    color: #ff6600;
    margin-bottom: 15px;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about figure {
    margin: 20px 0;
}

.about figure img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.about figure p {
    font-size: 14px;
    text-align: center;
    color: #777;
    margin-top: 5px;
}

.mission,
.discover {
    text-align: center;
    margin-left: 40px;
    font-size: 60px;
    line-height: 2;
    font-weight: bold;
    margin-right: 40px;
}

.mission h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ff6600;
    text-align: center;
}

.mission p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.choose h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ff6600;
    text-align: center;
}

.choose ul {
    list-style: none;
    padding: 0px;
    margin: 20px;
}

.choose li {
    font-size: 14px;
    margin-bottom: 10px;
    font-size: 14px;
    margin-right: 5px;
    text-align: center;
    padding: 10px;
}

.discover h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ff6600;
    text-align: center;
}

.discover p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 1rem;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 0.5rem 0;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .column img {
        margin-bottom: 20px;
    }

    section .content {
        grid-template-columns: 1fr;
    }

    #articles {
        flex-direction: column;
    }

    header.logo {
        font-size: 1.2rem;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .welcome {
        margin: 1rem 0;
    }

    article {
        padding: 1rem;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}

.testimonials .wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.box {
    width: calc(33.33% - 20px);
}

@media (max-width: 768px) {
    .testimonials .wrapper {
        justify-content: center;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer span {
    margin-right: 1rem;
}

footer a {
    color: #ff6600;
    margin: 0 0.5rem;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

@media only screen and (max-width: 480px) {
    .contact-table {
        font-size: 14px;
        margin-top: 10px;
    }

    caption {
        font-size: 1em;
    }
}